:root {
    --color-background: #f4f4f4;
    --color-text: #666666;
    --start-color: #000;
    --end-color: #10011c;

    --black: #000;
    --white: #fff;
    --yellow: #fffb00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--end-color);
    color: var(--color-text);
    transition: .8s;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

body, input, button, textarea {
    font: 400 16px 'Poppins', sans-serif;
}

input {
    &:focus {
        outline: none;
    }
}